/* About Page Styles */
.about-hero {
  text-align: center;
  padding: 60px 20px 0px;
}

.about-hero h1 {
  font-size: 2.5rem;
  color: #ff77a9;
}

/* Founder Image & Text */
.founder-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 35px 20px 80px;
  max-width: 1000px;
  margin: 0 auto;
}

.founder-img {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

h2{
  font-size: 1.35rem;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 12px;
}

.about-text {
  max-width: 600px;
}

.about-text p {
  font-size: 1rem;
  color: #444;
  margin-bottom: 20px;
  line-height: 1.8;
}
